html {
  min-height: 100vh;
}
body {
  margin: 0;
}

@media (max-width: 959px) {
  .photo-bg {
    background: url("./assets/img/laptop-background.jpg") no-repeat center
      center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 960px) {
  .photo-bg {
    background: url("./assets/img/laptop-background.jpg") no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

section {
  background-color: whitesmoke;
  min-height: 75vh;
}
