.languages-section .section-title {
  text-align: center;
}
.languages-section h2 {
  margin: 0;
  text-align: center;
}
.list-container {
  width: 100%;
  margin: 0;
}
@media (min-width: 960px) {
  .languages-section .pill {
    width: calc(50% - 20px);
  }
}
@media (max-width: 959px) {
  .languages-section .pill {
    width: 90%;
  }
  .languages-section .col-wrap {
    align-items: center;
  }
}
.pill-container {
  width: 90%;
  padding: 10px 1rem;
}
